.absolute{
	position: absolute;
	width: 100px;
	height: 100px;
	background: red;
	/*top: 30px;
	left: 20px;*/
	bottom: 0px;
	z-index: 1;
}
.abs2{
	position: absolute;
	width: 100px;
	height: 100px;
	background: yellow;
	top: 40px;
	right: 30px;
}
.abs3{
	position: absolute;
	width: 200px;
	height: 200px;
	background: green;
	top: 50px;
	left: 50px;
}
