body{
	margin-top: 70px;
	background: url(../images/flash.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left bottom;
}
header{
	width: 100%;
	height: 60px;
	background: black;
	position: fixed;
	top: 0px;
	left: 0px;
}