.anime{
	width: 400px;
	height: 400px;
	background: green;
	transition: all 1s;
}
.anime:hover{
	background: red;
	/*height: 500px;*/
	/*-webkit-transform: scale(1.5);*/
	-webkit-transform: rotate(45deg) scale(1.5);
	box-shadow: 100px 100px 30px rgba(0, 0, 0, .3);
}