html, body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}

body{
	background: red;
	overflow-y: hidden;
}

.slides-wrapper{
	background-color: yellow;
	width: 300%;
	height: 100%;
}
	.slide{
		width: calc(100% / 3);
		/*width: 33.33333333333%;*/
		height: 100%;
		float: left;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.img1{
		background-image: url(../images/slide1.jpg);
	}

	.img2{
		background-image: url(../images/slide2.jpg);
	}

	.img3{
		background-image: url(../images/slide3.jpg);
	}